.content {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 64px;
    padding-bottom: 64px;

    @media (max-width: 767px) {
        margin-top: 32px;
        padding-bottom: 48px;
    }

    .container {
        max-width: 1100px;
        width: 100%;
        margin: 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 767px) {
            flex-direction: column;
        }

        .emailContainer {
            background-color: #F8F4F9;
            border: 1px solid #1F343E;
            border-radius: 16px;
            padding: 64px;
            width: 100%;
            max-width: 414px;
            color: #1F343E;

            @media (max-width: 767px) {
                padding: 32px 16px;
                width: calc(100% - 32px);
            }

            h1 {
                margin: 0 0 32px 0;
                line-height: 72px;
                font-size: 48px;
            }

            .paragraph {
                font-size: 20px;
                line-height: 32px;
                margin: 0 0 40px 0;
            }

            .inputContainer {
                margin-bottom: 107px;
            }

            .footerText {
                margin: 0;
                color: #6D7A80;
                font-size: 16px;
            }
        }

        .infoContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .infoSection {
                display: flex;
                align-items: center;
                max-width: 448px;
                margin-bottom: 30px;
                
                &:last-child {
                    margin-bottom: 0;
                }

                img {
                    margin-right: 56px;
                }

                h1 {
                    color: #4EB3E3;
                    font-size: 20px;
                }

                h2 {
                    color: #1F343E;
                    font-size: 32px;
                }

                @media (max-width: 767px) {
                    flex-direction: column;
                    text-align: center;

                    img {
                        margin: 0 0 32px 0;
                    }

                    h2 {
                        margin: 12px 0;
                    }

                    &:first-child {
                        margin-top: 48px;
                    }
                }
            }
        }
    }   
}

.inverted {
    flex-direction: row-reverse;

    img {
        margin-left: 56px;
        margin-right: 0 !important;
    }

    @media (max-width: 767px) {
        flex-direction: column;

        img {
            margin: 0 0 32px 0;
        }
    }
}