@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.container {
    background-color: white;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #1F343E;
    border-radius: 8px;

    input {
        border: none;
        font-size: 20px;
        width: 100%;
    }
}

.submitBtn {
    width: 100%;
    margin-top: 16px;
    background-color: #4EB3E3;
    border: 1px solid #1F343E;
    color: white;
    padding: 20px;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }
}