.container {
    background-color: #45565E;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px) {
        flex-direction: column;
    }

    .downloadContainer {
        display: flex;
        align-items: center;
        margin-right: 32px;

        @media (max-width: 767px) {
            flex-direction: column;
            margin-right: 0;
        }

        .option {
            cursor: pointer;
            border: 1px solid #1F343E;
            padding: 20px 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 16px;
            color: white;

            &:first-child {
                margin-right: 16px;
                @media (max-width: 767px) {
                    margin-right: 0;
                    margin-bottom: 16px;
                }
            }

            p {
                margin: 0;
            }

            h1 {
                font-size: 20px;
                margin: 0;
            }

            @media (max-width: 767px) {
                width: 100%;
                justify-content: flex-start;

                img {
                    margin-right: 20px;
                }
            }
        }
    }

    .reviewsContainer {
        display: flex;
        align-items: center;

        .stars {
            svg {
                margin-right: 4px;
            }
        }

        .reviewText {
            color: white;
            font-size: 20px;
            font-weight: 200;
            margin-left: 12px;

            @media (max-width: 767px) {
                font-size: 16px;
            }
        }
    }
}

.light {
    font-weight: 200;
}